header#header {
    background-color:#FFF;
}
header#header article.redes-sociales a:nth-child(1) picture img {
    content:url("../iconos/instagram-gris.png");
}
header#header article.redes-sociales a:nth-child(2) picture img {
    content:url("../iconos/linkedin-gris.png");
}
header#header article.logo a picture img {
    content:url("../iconos/logo-gris.png");
}
header#header article.menu a picture img {
    content:url("../iconos/menu-gris.png");
}
header#header article.menu section#menuMovil {
    background-color:rgb(44,44,44);
}
header#header article.menu section#menuMovil a {
    color:rgb(87,87,86);
}
header#header article.menu section#menuMovil a:first-child {
    color:rgb(87,87,86)!important;
}
header#header article.menu section#menuMovil a:nth-child(2) {
    color:black;
}