header#header {
    background-color:#FFF;
}
header#header article.redes-sociales a:nth-child(1) picture img {
    content:url("../iconos/instagram-gris.png");
}
header#header article.redes-sociales a:nth-child(2) picture img {
    content:url("../iconos/linkedin-gris.png");
}
header#header article.logo a picture img {
    content:url("../iconos/logo-blanco.png");
}
header#header article.menu a picture img {
    content:url("../iconos/menu-blanco.png");
}
header#header article.menu section#menuMovil {
    background-color:rgb(44,44,44);
}
header#header article.menu section#menuMovil a {
    color:rgb(245,222,222);
}
header#header article.menu section#menuMovil a:first-child {
    color:rgb(245,222,222)!important;
}
header#header article.menu section#menuMovil a:nth-child(2) {
    color:rgb(242,177,162);
}