* {
    box-sizing:border-box;
}
html {
    position:relative;
    overflow-x:hidden;
}
body {
    margin:0px;
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
    position:relative;
    overflow:hidden;
}
header#header {
    height:30px;
    width:100%;
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    background-color:rgb(44,44,44);
    position:fixed;
    z-index:2;
}
picture {
    margin:0px;
    display:flex;
}
header#header article {
    flex:1;
}
header#header article.redes-sociales {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    margin:0px 0px 0px 30px;
    align-items:center;
}
header#header article.redes-sociales a {
    height:fit-content;
    display:flex;
    align-items:center;
}
header#header article.redes-sociales a:nth-child(2) {
    margin:0px 0px 0px 15px;
}
header#header article.redes-sociales a picture {
    display:flex;
}
header#header article.redes-sociales a picture img {
    height:20px;
    width:20px;
}
header#header article.logo {
    display:flex;
    justify-content:center;
    align-items:center;
}
header#header article.logo a {
    height:100%;
    display:flex;
    align-items:center;
    height:fit-content;
    width:fit-content;
}
header#header article.logo a picture {
    display:flex;
    width:fit-content;
}
header#header article.logo a picture img {
    height:25px;
    width:auto;
}
header#header article.menu {
    display:flex;
    justify-content:flex-end;
    position:relative;
    padding:0px 30px 0px 0px;
}
header#header article.menu a {
    display:flex;
    align-items:center;
}
header#header article.menu a picture {
    display:flex;
}
header#header article.menu a picture img {
    height:20px;
    width:auto;
}
header#header article.menu section#menuMovil {
    width:100%;
    top:100%;
    right:-1%;
    position:absolute;
    z-index:3;
    background-color:rgb(44,44,44);
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}
header#header article.menu section#menuMovil.transicion {
    transition:0.4s all;
}
header#header article.menu section#menuMovil.invisibilidad {
    transform:translateX(100%);
}
header#header article.menu section#menuMovil a {
    text-decoration:none;
    color:white;
    font-family:"Hurme Ondulado";
    font-size:7pt;
}
header#header article.menu section#menuMovil a {
    margin:0px 0px 17px 0px;
}
header#header article.menu section#menuMovil a:first-child {
    margin:17px 0px;
}
main#principal {
    position:relative;
    z-index:1;
}
@media screen and (min-width: 1280px) {
    header#header {
        height:66.6px;
    }
    header#header article.logo {
		order:1;
        margin:0px 0px 0px 68.6px;
        justify-content:flex-start;
    }
	header#header article.logo a {
        height:50px;
        width:auto;
    }
	header#header article.logo a picture {
        justify-content:flex-start;
	}
    header#header article.logo a picture img {
        height:50px;
        width:auto;
    }
	header#header article.menu {
		order:2;
        padding:0px;
	}
	header#header article.redes-sociales {
		order:3;
        margin:0px 68.6px 0px 0px;
        justify-content:flex-end;
	}
    header#header article.redes-sociales a picture img {
        height:30px;
        width:auto;
    }
	header#header article.redes-sociales,
	header#header article.logo {
        flex:0.3;
    }
    header#header article.menu section#menuMovil {
        transform:translateX(0%);
        justify-content:space-evenly;
		position:relative;
		top:0%;
		right:0%;
		flex-flow:row;
    }
	header#header article.menu section#menuMovil.visibilidad {
		transform:translateX(0%);
	}
    header#header article.menu section#menuMovil a {
        color:rgb(245,222,222);
        font-size:10pt;
    }
	header#header article.menu a {
		display:none;
	}
	header#header article.menu section#menuMovil a:first-child,
	header#header article.menu section#menuMovil a {
		margin:0px;
	}
	header#header article.menu section#menuMovil a {
		display:flex;
	}
}
@media screen and (min-width: 1920px) {
	header#header {
		height:149px;
	}
	header#header article.logo {
		order:1;
        margin:0px 0px 0px 103px;
	}
	header#header article.logo a {
        height:120px;
        width:auto;
    }
    header#header article.logo a picture img {
        height:120px;
        width:auto;
    }
	header#header article.redes-sociales {
        margin:0px 103px 0px 0px;
        justify-content:flex-end;
	}
    header#header article.redes-sociales a picture img {
        height:60px;
        width:auto;
    }
    header#header article.menu section#menuMovil a {
        font-size:20pt;
    }
}