header#header article.menu section#menuMovil {
    background-color:white;
}
header#header article.menu section#menuMovil a:nth-child(2) {
    color:rgb(242,177,162);
}
header#header article.logo a figure img {
    content:url(../iconos/logo-blanco.png);
}
main#principal {
    background-color:rgb(44,44,44);
    margin:0px!important;
    padding:55.6px 14.25%;
}
main#principal>article#video {
    width:100%;
}
main#principal>article>video {/*
    height:100%;
    width:100%;*/
    display:flex;
}