picture.ampliar {
    display:none;
}
picture.ampliar.visible {
    display:flex;
}
#artVideo.ampliar {
    display:none;
}
#artVideo.ampliar.visible {
    display:flex;
}
main#principal {
    background-color:rgb(44,44,44);
    /*margin:0px!important;
    padding:85.6px 14.25% 55.6px;*/
}
main#principal>section#margen>article#video {
    width:100%;
}
main#principal>section#margen>article>video {/*
    height:100%;
    width:100%;*/
    display:flex;
}
main#principal>section#margen>article.articulo-completo {
    width:100%;
}
@media screen and (min-width:1280px) {
    main#principal>section>article {
        width:32%;
    }
}
@media screen and (min-width:1920px) {
    header#header article.menu section#menuMovil {
        background-color:white;
    }
    header#header article.menu section#menuMovil a {
        color:rgb(87,87,86);
    }
    header#header article.menu section#menuMovil a:first-child {
        color:rgb(87,87,86);
    }
    header#header article.menu section#menuMovil a:nth-child(2) {
        color:rgb(44,44,44);
    }
}