header#header article.menu section#menuMovil {
    background-color:rgb(44,44,44);
}
header#header article.menu section#menuMovil a:first-child {
    color:white;
}
header#header article.menu section#menuMovil a:nth-child(2) {
    color:rgb(242,177,162);
}
header#header article.logo a picture img {
    content:url(../iconos/logo-blanco.png);
}
#artVideo {
    display:none;
}
main#principal {
    background-color:rgb(44,44,44);
    margin:0px!important;
    padding:85.6px 14.25% 55.6px;
}
main#principal>article#video {
    width:100%;
}
main#principal>article>video {/*
    height:100%;
    width:100%;*/
    display:flex;
}
@media screen and (min-width:1920px) {
    header#header article.menu section#menuMovil {
        background-color:white;
    }
    header#header article.menu section#menuMovil a {
        color:rgb(87,87,86);
    }
    header#header article.menu section#menuMovil a:first-child {
        color:rgb(87,87,86);
    }
    header#header article.menu section#menuMovil a:nth-child(2) {
        color:rgb(44,44,44);
    }
}