.trasladar-100 {
	transform:translateX(100%);
}
.trasladar-200 {
	transform:translateX(200%);
}
.trasladar-300 {
	transform:translateX(300%);
}
.trasladar-400 {
	transform:translateX(400%);
}
.trasladar-500 {
	transform:translateX(500%);
}
.trasladar-600 {
	transform:translateX(600%);
}
.trasladar-700 {
	transform:translateX(700%);
}
.trasladar-800 {
	transform:translateX(800%);
}
.trasladar-900 {
	transform:translateX(900%);
}
.trasladar-1000 {
	transform:translateX(1000%);
}
.trasladar-1100 {
	transform:translateX(1100%);
}
.trasladar-1200 {
	transform:translateX(1200%);
}
.trasladar-1300 {
	transform:translateX(1300%);
}
.transicion-1 {
	transition:3s all;
}