.trasladar-100 {
	transform:translateX(100%);
}
.trasladar-200 {
	transform:translateX(200%);
}
.trasladar-300 {
	transform:translateX(300%);
}
.trasladar-400 {
	transform:translateX(400%);
}
.trasladar-500 {
	transform:translateX(500%);
}
.trasladar-600 {
	transform:translateX(600%);
}
.trasladar-700 {
	transform:translateX(700%);
}
.trasladar-800 {
	transform:translateX(800%);
}