main#principal>section#margen {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
}
main#principal>section>section>header {
    margin:0 auto;
}
main#principal>section>section>section {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-between;
    color:rgb(87,87,86);
    width:100%;
}
main#principal>section>section>section>p {
    flex:1;
}
main#principal>section>section>section>p#estilo-moda {
    display:flex;
    justify-content:flex-end;
}
main#principal>section>section>p#descripcion {
    justify-content:center;
    width:100%;
}
main#principal>section>section:nth-child(1)>p>br.parrafo-escritorio {
    display:none;
}
main#principal>section>section:nth-child(2) {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    max-width:100%;
    width:100%;
}
main#principal>section>section#galeria-modas {
    justify-content:space-between;
}
main#principal>section>section>article.articulo {
    width:100%;
    /*margin:0px 0px 5.25px 0px;*/
    display:flex;
    width:fit-content;
}
main#principal>section>section>article {
    max-width:100%;
    width:48.9%;
}/*
main#principal>section>section>article.margen-sesion-480x670 {
    margin:0px 5.25px 5.25px 0px;
}
/*
main#principal>section>section>article>figure.figura-sesion-480x670 {
}*/
main#principal>section>section>article>picture>img {
    max-width:100%;
    width:100%;
}/*
main#principal>section>section>article>figure>img.sesion-480x670 {
}*/
main#principal>section>section:nth-child(3) {
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
    align-items:center;
    max-width:100%;
    width:100%;
}
main#principal>section>section:nth-child(3)>p {
    font-family:"Hurme Semi Ondulado";
    font-size:5.5pt;
}
main#principal>section>section:nth-child(3)>p:last-of-type {
    margin:0px 0px 55.6px 0px;
}
main#principal>section>section:nth-child(3)>p>span {
    font-family:"Hurme Geométrico";
}
main#principal>section>section:nth-child(3)>footer {
    background-color:white;
    padding:0px;
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
}
main#principal>section>section:nth-child(3)>footer>p {
    font-family:"Hurme Semi Ondulado";
    margin:0px 0px 30px 0px;
}
main#principal>section>section:nth-child(3)>footer>a {
    text-decoration:none;
    color:rgb(242,177,162);
    font-family:"Hurme Geométrico";
}
main#principal>section>section:nth-child(3)>footer>p,
main#principal>section>section:nth-child(3)>footer>a {
    max-width:100%;
    width:100%;
    font-size:11pt;
}
@media screen and (min-width: 1280px) {
    main#principal>section>section>p>br.parrafo-movil {
        display:none;
    }
    main#principal>section>section:nth-child(1)>p>br.parrafo-escritorio {
        display:flex;
    }
    main#principal>section>section>article {
        width:32%;
        margin:0px;
    }
    main#principal>section>section>article.articulo {
        width: 66%;
    }
}
@media screen and (min-width: 1920px) {
    main#principal {
        flex-flow:column;
    }
    main#principal>section>section:first-child {
        display:flex;
        flex-flow:column;
        flex-wrap:wrap;
        align-items:center;
        align-self:center;
        margin:0px 0px 85px 0px;
    }
    main#principal>section>section>header {
        margin:0px 0px 85px 0px;
    }
    main#principal>section>section>header>h1 {
        font-size:56pt;
    }
    main#principal>section>section>section {
        display:flex;
        flex-flow:row;
        flex-wrap:wrap;
        width:100%;
    }
    main#principal>section>section>section>p {
        display:flex;
        flex:1;
        font-size:20pt;
    }
    main#principal>section>section>section>p:last-child {
        justify-content:flex-end;
    }
    main#principal>section>section>p {
        font-size:24pt;
    }
    main#principal>section>section:nth-child(2) {
        gap:26px;
    }
}