@font-face {
    font-family:"Hurme Semi Ondulado";
    src:url("../fuentes/Sans\ Hurme\ Geométrico\ 1\ Semi\ Ondulado.otf");
}
@font-face {
    font-family:"Hurme Ondulado";
    src:url("../fuentes/Sans\ Hurme\ Geométrico\ 1\ Ondulado.otf");
}
@font-face {
    font-family:"Hurme Fuerte";
    src:url("../fuentes/Sans\ Hurme\ Geométrico\ 1\ Fuerte.otf");
}
@font-face {
    font-family:"Hurme Geométrico";
    src:url("../fuentes/Sans\ Hurme\ Geométrico\ 1.otf");
}
@font-face {
    font-family:"Hurme Light";
    src:url("../fuentes/HurmeGeometricSans1 Light.otf");
}