@font-face {
    font-family:"Hurme Semi Ondulado";
    src:url("../fuentes/Sans\ Hurme\ Geométrico\ 1\ Semi\ Ondulado.otf");
}
@font-face {
    font-family:"Hurme Bold";
    src:url("../fuentes/Sans\ Hurme\ Geométrico\ 1\ Ondulado.otf");
}
@font-face {
    font-family:"Hurme Black";
    src:url("../fuentes/HurmeGeometricSans1-Black.otf");
}
@font-face {
    font-family:"Hurme";
    src:url("../fuentes/HurmeGeometricSans1.otf");
}
@font-face {
    font-family:"Hurme Light";
    src:url("../fuentes/HurmeGeometricSans1 Light.otf");
}