* {
    box-sizing:border-box;
}
html {
    position:relative;
    overflow-x:hidden;
}
body {
    margin:0;
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
    position:relative;
    overflow:hidden;
}
header#header {
    height:30px;
    width:100%;
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    background-color:rgb(44,44,44);
    position:relative;
    z-index:2;
}
figure {
    margin:0;
}
header#header article {
    flex:1;
}
header#header article.redes-sociales {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    margin:0 0 0 30px;
}
header#header article.redes-sociales a {
    display:flex;
    align-items:center;
}
header#header article.redes-sociales a:nth-child(2) {
    margin:0 0 0 15px;
}
header#header article.redes-sociales a figure {
    display:flex;
}
header#header article.redes-sociales a figure img {
    height:25px;
    width:25px;
}
header#header article.logo {
    display:flex;
    justify-content:center;
}
header#header article.logo a {
    height:100%;
    display:flex;
    align-items:center;
}
header#header article.logo a figure {
    display:flex;
}
header#header article.logo a figure img {
    height:25px;
    width:auto;
}
header#header article.menu {
    display:flex;
    justify-content:flex-end;
    position:relative;
    padding:0 30px 0 0;
}
header#header article.menu a {
    display:flex;
    align-items:center;
}
header#header article.menu a figure {
    display:flex;
}
header#header article.menu a figure img {
    height:25px;
    width:auto;
}
header#header article.menu section#menuMovil {
    width:100%;
    top:100%;
    right:0%;
    position:absolute;
    z-index:3;
    background-color:rgb(44,44,44);
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
    align-items:center;
    justify-content:center;
}
header#header article.menu section#menuMovil.transicion {
    transition:0.4s all;
}
header#header article.menu section#menuMovil.visibilidad {
    transform:translateX(101%);
}
header#header article.menu section#menuMovil a {
    text-decoration:none;
    color:white;
    font-family:"Hurme Bold";
}
header#header article.menu section#menuMovil a {
    margin:0 0 17px 0;
}
header#header article.menu section#menuMovil a:first-child {
    margin:17px 0;
}
main#principal {
    position:relative;
    z-index:1;
}
@media screen and (min-width: 1920px) {
	header#header {
		height:138px;
	}
	header#header article.logo a figure {
		justify-content:center;
	}
	header#header article.redes-sociales a figure img,
	header#header article.menu a figure img {
		height:100%;
		width:100%;
	}
	header#header article.logo {
		order:1;
        display:block;
        margin:0 0 0 103px;
	}
	header#header article.menu {
		order:2;
        padding:0;
	}
	header#header article.redes-sociales {
		order:3;
        margin:0 103px 0 0;
        justify-content:flex-end;
	}
	header#header article.redes-sociales,
	header#header article.logo {
        flex:0.3;
    }
    header#header article.menu section#menuMovil {
        justify-content:space-evenly;
    }
    header#header article.menu section#menuMovil a {
        color:rgb(245,222,222);
        font-size:20pt;
    }
	header#header article.logo a figure {
        justify-content:flex-start;
    }
	header#header article.logo a figure img {
		height:80%;
		width:80%;
	}
	header#header article.menu a {
		display:none;
	}
	header#header article.menu section#menuMovil.visibilidad {
		transform:translateX(0%);
	}
	header#header article.menu section#menuMovil {
		position:relative;
		top:0%;
		right:0%;
		flex-flow:row;
	}
	header#header article.menu section#menuMovil a:first-child,
	header#header article.menu section#menuMovil a {
		margin:0;
	}
	header#header article.menu section#menuMovil a {
		display:flex;
	}
}