main#principal>section:nth-child(2) {
    justify-content:center;
}
main#principal>section>article.articulo-sesion-480x670 {
    max-width:48%;
    width:48%;
}
main#principal>section:nth-child(3)>p {
    margin:0px!important;
    text-align:center;
}
main#principal>section>article:last-child {
    margin:0px 0px 5.25px 0px;
}