section#marca-tu-estilo {
	display:flex;
	flex-flow:row;
	flex-wrap:wrap;
	align-content:center;
	padding:50px 55.6px;
    background-color:rgb(223,222,222);
}
section#marca-tu-estilo>header {
	margin:0 0 36px 0;
	width:100%;
}
section#marca-tu-estilo>header>h1 {
	margin:0;
	display:flex;
	flex-flow:column;
	flex-wrap:wrap;
	font-family:"Hurme Light";
}
section#marca-tu-estilo>header>h1>span {
	display:flex;
	justify-content:center;
	font-size:18pt;
}
section#marca-tu-estilo>header>h1>span>span#un {
	transform:rotate(-90deg);
	font-size:7pt;
	margin:9.4px 0 0 5px;
}
section#marca-tu-estilo>header>h1>span#estilo {
	display:flex;
	justify-content:center;
	font-family:"Hurme Black";
	font-size:10.5pt;
	margin:0 0 0 51px;
}
section#marca-tu-estilo>section {
    width:100%;
	display:flex;
	flex-flow:row;
	gap:5.3%;
	justify-content:space-between;
}
section#marca-tu-estilo>section>article {
	height:fit-content;
}
section#marca-tu-estilo>section>article>p {
	margin:0;
	font-family:"Hurme";
	font-size:6.5pt;
    color:rgb(87,87,86);
}
section#marca-tu-estilo>section>article#art-iz {
	text-align:right;
}
section#marca-tu-estilo>section>article#art-iz>p {
	font-family:"Hurme Semi Bold";
	font-size:10pt;
}
section#marca-tu-estilo>section>article#art-de {
	text-align:left;
}
@media screen and (min-width: 1920px) {
	header#header {
		height:138px;
	}
	header#header article.logo a figure {
		justify-content:center;
	}
	header#header article.redes-sociales a figure img,
	header#header article.menu a figure img {
		height:100%;
		width:100%;
	}
	header#header article.logo {
		order:1;
	}
	header#header article.menu {
		order:2;
	}
	header#header article.redes-sociales {
		order:3;
	}
	header#header article.logo a figure img {
		height:80%;
		width:80%;
	}
	header#header article.menu a {
		display:none;
	}
	header#header article.menu section#menuMovil.visibility {
		transform:translateX(0%);
	}
	header#header article.menu section#menuMovil {
		position:relative;
		top:0%;
		right:0%;
		flex-flow:row;
	}
	header#header article.menu section#menuMovil a:first-child,
	header#header article.menu section#menuMovil a {
		margin:0;
	}
	header#header article.menu section#menuMovil a {
		display:flex;
	}
}