section#carrusel {
	margin:30px 0px 0px 0px;
	width:1300%;
	display:flex;
	flex-flow:row;
	flex-wrap:wrap;
	position:relative;
}
section#carrusel.primera-imagen-cero {
	transform:translateX(calc(0% / 13));
}
section#carrusel.primera-imagen {
	transform:translateX(calc(-100% / 13));
}
section#carrusel.segunda-imagen {
	transform:translateX(calc(-200% / 13));
}
section#carrusel.tercera-imagen {
	transform:translateX(calc(-300% / 13));
}
section#carrusel.cuarta-imagen {
	transform:translateX(calc(-400% / 13));
}
section#carrusel.quinta-imagen {
	transform:translateX(calc(-500% / 13));
}
section#carrusel.sexta-imagen {
	transform:translateX(calc(-600% / 13));
}
section#carrusel.septima-imagen {
	transform:translateX(calc(-700% / 13));
}
section#carrusel.octava-imagen {
	transform:translateX(calc(-800% / 13));
}
section#carrusel.novena-imagen {
	transform:translateX(calc(-900% / 13));
}
section#carrusel.decima-imagen {
	transform:translateX(calc(-1000% / 13));
}
section#carrusel.onceava-imagen {
	transform:translateX(calc(-1100% / 13));
}
section#carrusel.doceava-imagen {
	transform:translateX(calc(-1200% / 13));
}
section#carrusel>picture {
	width:calc(100% / 13);
}
section#carrusel>picture>img {
	width:100%;
}
section#carrusel>div {
	display:flex;
	flex-flow:row;
	flex-wrap:wrap;
	justify-content:center;
	width:calc(100% / 13);
	position:absolute;
	top:90%;
	gap:10px;
}
section#carrusel>div>span {
	height:10px;
	width:10px;
	border-radius:25px;
	background-color:rgb(245,222,222);
}
section#carrusel>div>span.btn-seleccionado {
	background-color:rgb(242,177,162);
}
section#marca-tu-estilo {
	display:flex;
	flex-flow:row;
	flex-wrap:wrap;
	align-content:center;
	padding:50px 55.6px;
    background-color:rgb(223,222,222);
}
section#marca-tu-estilo>header {
	margin:0 0 36px 0;
	width:100%;
}
section#marca-tu-estilo>header>h1 {
	margin:0;
	display:flex;
	flex-flow:column;
	flex-wrap:wrap;
	font-family:"Hurme Luz";
}
section#marca-tu-estilo>header>h1>span {
	display:flex;
	justify-content:center;
	font-size:18pt;
}
section#marca-tu-estilo>header>h1>span>span#un {
	transform:rotate(-90deg);
	font-size:7pt;
	margin:9.4px 0 0 5px;
}
section#marca-tu-estilo>header>h1>span#estilo {
	display:flex;
	justify-content:center;
	font-family:"Hurme Fuerte";
	font-size:10.5pt;
	margin:0 0 0 51px;
}
section#marca-tu-estilo>section {
    width:100%;
	display:flex;
	flex-flow:row;
	gap:5.3%;
	justify-content:space-between;
}
section#marca-tu-estilo>section>article {
	height:fit-content;
}
section#marca-tu-estilo>section>article>p {
	margin:0;
	font-family:"Hurme Geométrico";
	font-size:6.5pt;
    color:rgb(87,87,86);
}
section#marca-tu-estilo>section>article>p>br.escritorio {
	display:none;
}
section#marca-tu-estilo>section>article#art-iz {
	text-align:right;
	max-width:100%;
	width:100%;
}
section#marca-tu-estilo>section>article#art-iz>p {
	font-family:"Hurme Semi Ondulado";
	font-size:8.5pt;
}
section#marca-tu-estilo>section>article#art-de {
	text-align:left;
	max-width:100%;
	width:100%;
}
section#formulario {
	padding:36.5px 57.5px;
	background-color:rgb(44,44,44);
}
section#formulario form section {
	display:flex;
	flex-flow:column;
	flex-wrap:wrap;
}
section#formulario>form>section>article {
	margin:0px 0px 17px 0px;
}
section#formulario form section article {
	display:flex;
	flex-flow:column;
	flex-wrap:wrap;
}
section#formulario form article#boton {
	display:flex;
	flex-flow:row;
	flex-wrap:wrap;
	justify-content:center;
	margin:27px 0px 0px 0px;
}
section#formulario form article button {
	height:15.5px;
	width:64px;
	background-color:rgb(223, 222, 222);
	border:none;
	border-radius:5px;
	font-family:"Hurme Semi Ondulado";
	font-size:7pt;
	color:rgb(87,87,86);
}
section#formulario label {
	color:rgb(87,87,86);
}
section#formulario label,
section#formulario input,
section#formulario textarea {
	font-family:"Hurme Semi Ondulado";
	font-size:8pt;
}
section#formulario input,
section#formulario textarea {
	background-color:rgb(44,44,44);
	border:none;
}
section#formulario input {
	border-bottom:solid 1px white;
}
section#formulario section#texto {
	position:relative;
	display:flex;
	flex-flow:column;
	flex-wrap:wrap;
}
section#formulario section#texto span.fila {
	width:100%;
	position:absolute;
	border-bottom:1px solid white;
}
textarea#mensaje {
	text-size-adjust:none;
	overflow-y:hidden;
	min-height:26px;
	height:auto;
	resize:none;
	font-size:16pt;
}
p#caja {
	text-size-adjust:none;
	font-family:"Hurme Semi Ondulado";
	font-size:16pt;
	opacity:0;
	position:absolute;
}
@media screen and (min-width:1280px) {
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}
	section#marca-tu-estilo>header {
		margin:0 0 100px 0;
	}
	section#marca-tu-estilo>header>h1>span {
		font-size:86pt;
	}
	section#marca-tu-estilo>header>h1>span>span#un {
		font-size:16pt;
		margin:25px 0 0 25px;
	}
	section#marca-tu-estilo>header>h1>span#estilo {
		font-size:26pt;
		margin:0 0 0 96.6px;
	}
	section#marca-tu-estilo>section {
		gap:2.9%
	}
	section#marca-tu-estilo>section>article>p>br.movil {
		display:none;
	}
	section#marca-tu-estilo>section>article>p>br.escritorio {
		display:flex;
	}
	section#marca-tu-estilo>section>article#art-iz>p {
		font-size:26pt;
	}
	section#marca-tu-estilo>section>article>p {
		font-size:18.5pt;
	}
	section#formulario {
		padding:100px 150.3px;
	}
	section#formulario>form>section {
		display:flex;
		flex-flow:row;
		flex-wrap:wrap;
		margin:0px 0px 36px 0px;
		gap:35px;
	}
	section#formulario>form>section>article {
		flex:1;
		display:flex;
		flex-flow:column;
		flex-wrap:wrap;
	}
	textarea#mensaje,
	p#caja {
		font-size:16pt;
	}
}
@media screen and (min-width:1920px) {
	main#principal {
		margin:149px 0px 0px 0px;
	}
	section#marca-tu-estilo {
		padding:214px 344px;
	}
	section#marca-tu-estilo>header {
		margin:0 0 150px 0;
	}
	section#marca-tu-estilo>header>h1>span {
		font-size:86pt;
	}
	section#marca-tu-estilo>header>h1>span>span#un {
		font-size:16pt;
		margin:25px 0 0 25px;
	}
	section#marca-tu-estilo>header>h1>span#estilo {
		font-size:26pt;
		margin:0 0 0 145px;
	}
	section#marca-tu-estilo>section {
		gap:2.9%
	}
	section#marca-tu-estilo>section>article#art-iz>p {
		font-size:36pt;
	}
	section#marca-tu-estilo>section>article>p {
		font-size:25pt;
	}
	section#formulario {
		padding:150px 225.5px;
	}
	section#formulario>form>section {
		display:flex;
		flex-flow:row;
		flex-wrap:wrap;
		margin:0px 0px 54px 0px;
		gap:52.5px;
	}
	section#formulario>form>section>article {
		flex:1;
		display:flex;
		flex-flow:column;
		flex-wrap:wrap;
	}
	section#formulario form article button {
		height:40px;
		width:140px;
		font-size:16pt;
	}
	section#formulario label,
	section#formulario input,
	section#formulario textarea,
	p#caja {
		font-size:26pt;
	}
	section#formulario>form>article#articuloTexto {
		display:flex;
		flex-flow:column;
		flex-wrap:wrap;
	}
	section#formulario>form>article>textarea {
		width:100%;
	}
}