main#principal {
	margin:30px 0px 0px 0px;
}
section#carrusel {
	width:1300%;
	display:flex;
	flex-flow:row;
	flex-flow:row nowrap;
	position:relative;
	touch-action:pan-y;
}
section#carrusel.primera-imagen-cero {
	transform:translateX(calc(0% / 13));
}
section#carrusel.primera-imagen {
	transform:translateX(calc(-100% / 13));
}
section#carrusel.segunda-imagen {
	transform:translateX(calc(-200% / 13));
}
section#carrusel.tercera-imagen {
	transform:translateX(calc(-300% / 13));
}
section#carrusel.cuarta-imagen {
	transform:translateX(calc(-400% / 13));
}
section#carrusel.quinta-imagen {
	transform:translateX(calc(-500% / 13));
}
section#carrusel.sexta-imagen {
	transform:translateX(calc(-600% / 13));
}
section#carrusel.septima-imagen {
	transform:translateX(calc(-700% / 13));
}
section#carrusel.octava-imagen {
	transform:translateX(calc(-800% / 13));
}
section#carrusel.novena-imagen {
	transform:translateX(calc(-900% / 13));
}
section#carrusel.decima-imagen {
	transform:translateX(calc(-1000% / 13));
}
section#carrusel.onceava-imagen {
	transform:translateX(calc(-1100% / 13));
}
section#carrusel.doceava-imagen {
	transform:translateX(calc(-1200% / 13));
}
section#carrusel>picture {
	width:calc(100% / 13);
}
section#carrusel>picture>img {
	width:100%;
}
section#carrusel>div {
	display:flex;
	flex-flow:row;
	flex-wrap:wrap;
	justify-content:center;
	width:calc(100% / 13);
	position:absolute;
	top:90%;
	gap:5px;
}
section#carrusel>div>span {
	height:6.5px;
	width:6.5px;
	border-radius:25px;
	background-color:rgb(245,222,222);
}
section#carrusel>div>span.btn-seleccionado {
	background-color:rgb(242,177,162);
}
section#marca-tu-estilo {
	display:flex;
	flex-flow:row;
	flex-wrap:wrap;
	align-content:center;
	padding:50px 55.6px;
    background-color:rgb(223,222,222);
}
section#marca-tu-estilo>header {
	margin:0 0 34.5px 0;
	width:100%;
}
section#marca-tu-estilo>header>h1 {
	margin:0;
	display:flex;
	flex-flow:column;
	flex-wrap:wrap;
	font-family:"Hurme Luz";
}
section#marca-tu-estilo>header>h1>span {
	display:flex;
	justify-content:center;
	font-size:18pt;
}
section#marca-tu-estilo>header>h1>span>span#un {
	transform:rotate(-90deg);
	font-size:7pt;
	margin:9.4px 0 0 5px;
}
section#marca-tu-estilo>header>h1>span#estilo {
	display:flex;
	justify-content:center;
	font-family:"Hurme Fuerte";
	font-size:10.5pt;
	margin:0 0 0 51px;
}
section#marca-tu-estilo>section {
    width:100%;
	display:flex;
	flex-flow:row;
	gap:5.3%;
	justify-content:space-between;
}
section#marca-tu-estilo>section>article {
	height:fit-content;
}
section#marca-tu-estilo>section>article>p {
	margin:0;
	font-family:"Hurme Geométrico";
	font-size:6.5pt;
    color:rgb(87,87,86);
}
section#marca-tu-estilo>section>article>p>br.escritorio {
	display:none;
}
section#marca-tu-estilo>section>article#art-iz {
	text-align:right;
	max-width:100%;
	width:100%;
}
section#marca-tu-estilo>section>article#art-iz>p {
	font-family:"Hurme Semi Ondulado";
	font-size:8.5pt;
}
section#marca-tu-estilo>section>article#art-de {
	text-align:left;
	max-width:100%;
	width:100%;
}
section#formulario {
	padding:36.5px 57.5px;
	background-color:rgb(44,44,44);
}
section#formulario form section {
	display:flex;
	flex-flow:column;
	flex-wrap:wrap;
}
section#formulario>form>section>article {
	margin:0px 0px 17px 0px;
}
section#formulario form section article {
	display:flex;
	flex-flow:column;
	flex-wrap:wrap;
}
section#formulario form article#boton {
	display:flex;
	flex-flow:row;
	flex-wrap:wrap;
	justify-content:center;
	margin:27px 0px 0px 0px;
}
section#formulario form article button {
	height:15.5px;
	width:64px;
	background-color:rgb(223, 222, 222);
	border:none;
	border-radius:5px;
	font-family:"Hurme Semi Ondulado";
	font-size:7pt;
	color:rgb(87,87,86);
}
section#formulario label {
	color:rgb(87,87,86);
}
section#formulario label,
section#formulario input,
section#formulario textarea {
	font-family:"Hurme Semi Ondulado";
	font-size:8pt;
}
section#formulario input,
section#formulario textarea {
	background-color:rgb(44,44,44);
	border:none;
}
section#formulario input {
	border-bottom:solid 1px white;
}
section#formulario section#texto {
	position:relative;
	display:flex;
	flex-flow:column;
	flex-wrap:wrap;
}
section#formulario section#texto span.fila {
	width:100%;
	position:absolute;
	border-bottom:1px solid white;
}
textarea#mensaje {
	text-size-adjust:none;
	overflow-y:hidden;
	min-height:26px;
	height:auto;
	resize:none;
	font-size:16pt;
}
.primera-fila {
	top:50%;
}
.segunda-fila {
	top:100%;
}
p#caja {
	text-size-adjust:none;
	font-family:"Hurme Semi Ondulado";
	font-size:16pt;
	opacity:0;
	position:absolute;
}
@media screen and (min-width: 380px) {
	main#principal {
		margin:31px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:5.1px;
	}
	section#carrusel>div>span {
		height:6.6px;
		width:6.6px;
	}
	section#marca-tu-estilo {
		padding:52.5px 55.6px;
	}
}
@media screen and (min-width: 400px) {
	main#principal {
		margin:32px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:5.2px;
	}
	section#carrusel>div>span {
		height:6.7px;
		width:6.7px;
	}
	section#marca-tu-estilo {
		padding:55px 55.6px;
	}

}
@media screen and (min-width: 420px) {
	main#principal {
		margin:33px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:5.3px;
	}
	section#carrusel>div>span {
		height:6.8px;
		width:6.8px;
	}
	section#marca-tu-estilo {
		padding:57.5px 55.6px;
	}
    
}
@media screen and (min-width: 440px) {
	main#principal {
		margin:34px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:5.4px;
	}
	section#carrusel>div>span {
		height:6.9px;
		width:6.9px;
	}
	section#marca-tu-estilo {
		padding:60px 55.6px;
	}
    
}
@media screen and (min-width: 460px) {
	main#principal {
		margin:35px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:5.5px;
	}
	section#carrusel>div>span {
		height:7px;
		width:7px;
	}
	section#marca-tu-estilo {
		padding:62.5px 55.6px;
	}
    
}
@media screen and (min-width: 480px) {
	main#principal {
		margin:36px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:5.6px;
	}
	section#carrusel>div>span {
		height:7.1px;
		width:7.1px;
	}
	section#marca-tu-estilo {
		padding:65px 55.6px;
	}
    
}
@media screen and (min-width: 500px) {
	main#principal {
		margin:37px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:5.7px;
	}
	section#carrusel>div>span {
		height:7.2px;
		width:7.2px;
	}
	section#marca-tu-estilo {
		padding:67.5px 55.6px;
	}
    
}
@media screen and (min-width: 520px) {
	main#principal {
		margin:38px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:5.8px;
	}
	section#carrusel>div>span {
		height:7.3px;
		width:7.3px;
	}
	section#marca-tu-estilo {
		padding:70px 55.6px;
	}
    
}
@media screen and (min-width: 540px) {
	main#principal {
		margin:39px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:5.9px;
	}
	section#carrusel>div>span {
		height:7.4px;
		width:7.4px;
	}
	section#marca-tu-estilo {
		padding:72.5px 55.6px;
	}
    
}
@media screen and (min-width: 560px) {
	main#principal {
		margin:40px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:6px;
	}
	section#carrusel>div>span {
		height:7.5px;
		width:7.5px;
	}
	section#marca-tu-estilo {
		padding:75px 55.6px;
	}
    
}
@media screen and (min-width: 580px) {
	main#principal {
		margin:41px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:6.1px;
	}
	section#carrusel>div>span {
		height:7.6px;
		width:7.6px;
	}
	section#marca-tu-estilo {
		padding:77.5px 55.6px;
	}
    
}
@media screen and (min-width: 600px) {
	main#principal {
		margin:42px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:6.2px;
	}
	section#carrusel>div>span {
		height:7.7px;
		width:7.7px;
	}
	section#marca-tu-estilo {
		padding:80px 55.6px;
	}
    
}
@media screen and (min-width: 620px) {
	main#principal {
		margin:43px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:6.3px;
	}
	section#carrusel>div>span {
		height:7.8px;
		width:7.8px;
	}
	section#marca-tu-estilo {
		padding:82.5px 55.6px;
	}
    
}
@media screen and (min-width: 640px) {
	main#principal {
		margin:44px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:6.4px;
	}
	section#carrusel>div>span {
		height:7.9px;
		width:7.9px;
	}
	section#marca-tu-estilo {
		padding:85px 55.6px;
	}
    
}
@media screen and (min-width: 660px) {
	main#principal {
		margin:45px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:6.5px;
	}
	section#carrusel>div>span {
		height:8px;
		width:8px;
	}
	section#marca-tu-estilo {
		padding:87.5px 55.6px;
	}
    
}
@media screen and (min-width: 680px) {
	main#principal {
		margin:46px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:6.6px;
	}
	section#carrusel>div>span {
		height:8.1px;
		width:8.1px;
	}
	section#marca-tu-estilo {
		padding:90px 55.6px;
	}
    
}
@media screen and (min-width: 700px) {
	main#principal {
		margin:47px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:6.7px;
	}
	section#carrusel>div>span {
		height:8.2px;
		width:8.2px;
	}
	section#marca-tu-estilo {
		padding:92.5px 55.6px;
	}
    
}
@media screen and (min-width: 720px) {
	main#principal {
		margin:48px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:6.8px;
	}
	section#carrusel>div>span {
		height:8.3px;
		width:8.3px;
	}
	section#marca-tu-estilo {
		padding:95px 55.6px;
	}
    
}
@media screen and (min-width: 740px) {
	main#principal {
		margin:49px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:6.9px;
	}
	section#carrusel>div>span {
		height:8.4px;
		width:8.4px;
	}
	section#marca-tu-estilo {
		padding:97.5px 55.6px;
	}
    
}
@media screen and (min-width: 760px) {
	main#principal {
		margin:50px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:7px;
	}
	section#carrusel>div>span {
		height:8.5px;
		width:8.5px;
	}
	section#marca-tu-estilo {
		padding:100px 55.6px;
	}
    
}
@media screen and (min-width: 780px) {
	main#principal {
		margin:51px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:7.1px;
	}
	section#carrusel>div>span {
		height:8.6px;
		width:8.6px;
	}
	section#marca-tu-estilo {
		padding:102.5px 55.6px;
	}
    
}
@media screen and (min-width: 800px) {
	main#principal {
		margin:52px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:7.2px;
	}
	section#carrusel>div>span {
		height:8.7px;
		width:8.7px;
	}
	section#marca-tu-estilo {
		padding:105px 55.6px;
	}
    
}
@media screen and (min-width: 820px) {
	main#principal {
		margin:53px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:7.3px;
	}
	section#carrusel>div>span {
		height:8.8px;
		width:8.8px;
	}
	section#marca-tu-estilo {
		padding:107.5px 55.6px;
	}
    
}
@media screen and (min-width: 840px) {
	main#principal {
		margin:54px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:7.4px;
	}
	section#carrusel>div>span {
		height:8.9px;
		width:8.9px;
	}
	section#marca-tu-estilo {
		padding:110px 55.6px;
	}
    
}
@media screen and (min-width: 860px) {
	main#principal {
		margin:55px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:7.5px;
	}
	section#carrusel>div>span {
		height:9px;
		width:9px;
	}
	section#marca-tu-estilo {
		padding:112.5px 55.6px;
	}
    
}
@media screen and (min-width: 880px) {
	main#principal {
		margin:56px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:7.6px;
	}
	section#carrusel>div>span {
		height:9.1px;
		width:9.1px;
	}
	section#marca-tu-estilo {
		padding:115px 55.6px;
	}
    
}
@media screen and (min-width: 900px) {
	main#principal {
		margin:57px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:7.7px;
	}
	section#carrusel>div>span {
		height:9.2px;
		width:9.2px;
	}
	section#marca-tu-estilo {
		padding:117.5px 55.6px;
	}
    
}
@media screen and (min-width: 996px) {
	main#principal {
		margin:58px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:7.8px;
	}
	section#carrusel>div>span {
		height:9.3px;
		width:9.3px;
	}
	section#marca-tu-estilo {
		padding:120px 55.6px;
	}
    
}
@media screen and (min-width: 1000px) {
	main#principal {
		margin:59px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:7.9px;
	}
	section#carrusel>div>span {
		height:9.4px;
		width:9.4px;
	}
	section#marca-tu-estilo {
		padding:122.5px 55.6px;
	}
    
}
@media screen and (min-width: 1050px) {
	main#principal {
		margin:60px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:8px;
	}
	section#carrusel>div>span {
		height:9.5px;
		width:9.5px;
	}
	section#marca-tu-estilo {
		padding:125px 55.6px;
	}
    
}
@media screen and (min-width: 1100px) {
	main#principal {
		margin:61px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:8.1px;
	}
	section#carrusel>div>span {
		height:9.6px;
		width:9.6px;
	}
	section#marca-tu-estilo {
		padding:127.5px 55.6px;
	}
    
}
@media screen and (min-width: 1150px) {
	main#principal {
		margin:62px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:8.2px;
	}
	section#carrusel>div>span {
		height:9.7px;
		width:9.7px;
	}
	section#marca-tu-estilo {
		padding:130px 55.6px;
	}
    
}
@media screen and (min-width: 1200px) {
	main#principal {
		margin:63px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:8.3px;
	}
	section#carrusel>div>span {
		height:9.8px;
		width:9.8px;
	}
	section#marca-tu-estilo {
		padding:132.5px 55.6px;
	}
    
}
@media screen and (min-width: 1250px) {
	main#principal {
		margin:64px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:8.4px;
	}
	section#carrusel>div>span {
		height:9.9px;
		width:9.9px;
	}
	section#marca-tu-estilo {
		padding:135px 55.6px;
	}
    
}
@media screen and (min-width:1280px) {
	main#principal {
		margin:66.6px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:8.5px;
	}
	section#carrusel>div>span {
		height:10px;
		width:10px;
	}
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}
	section#marca-tu-estilo>header {
		margin:0 0 100px 0;
	}
	section#marca-tu-estilo>header>h1>span {
		font-size:86pt;
	}
	section#marca-tu-estilo>header>h1>span>span#un {
		font-size:16pt;
		margin:25px 0 0 25px;
	}
	section#marca-tu-estilo>header>h1>span#estilo {
		font-size:26pt;
		margin:0 0 0 96.6px;
	}
	section#marca-tu-estilo>section {
		gap:2.9%
	}
	section#marca-tu-estilo>section>article>p>br.movil {
		display:none;
	}
	section#marca-tu-estilo>section>article>p>br.escritorio {
		display:flex;
	}
	section#marca-tu-estilo>section>article#art-iz>p {
		font-size:26pt;
	}
	section#marca-tu-estilo>section>article>p {
		font-size:18.5pt;
	}
	section#formulario {
		padding:100px 150.3px;
	}
	section#formulario>form>section {
		display:flex;
		flex-flow:row;
		flex-wrap:wrap;
		margin:0px 0px 36px 0px;
		gap:35px;
	}
	section#formulario>form>section>article {
		flex:1;
		display:flex;
		flex-flow:column;
		flex-wrap:wrap;
	}
	textarea#mensaje,
	p#caja {
		font-size:16pt;
	}
}
@media screen and (min-width: 1300px) {
	main#principal {
		margin:72px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:8.6px;
	}
	section#carrusel>div>span {
		height:10.1px;
		width:10.1px;
	}
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}

}
@media screen and (min-width: 1350px) {
	main#principal {
		margin:78px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:8.7px;
	}
	section#carrusel>div>span {
		height:10.2px;
		width:10.2px;
	}
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}
    
}
@media screen and (min-width: 1400px) {
	main#principal {
		margin:84px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:8.8px;
	}
	section#carrusel>div>span {
		height:10.3px;
		width:10.3px;
	}
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}
    
}
@media screen and (min-width: 1450px) {
	main#principal {
		margin:90px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:8.9px;
	}
	section#carrusel>div>span {
		height:10.4px;
		width:10.4px;
	}
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}
    
}
@media screen and (min-width: 1500px) {
	main#principal {
		margin:96px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:9px;
	}
	section#carrusel>div>span {
		height:10.5px;
		width:10.5px;
	}
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}
    
}
@media screen and (min-width: 1550px) {
	main#principal {
		margin:102px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:9.1px;
	}
	section#carrusel>div>span {
		height:10.6px;
		width:10.6px;
	}
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}
    
}
@media screen and (min-width: 1600px) {
	main#principal {
		margin:108px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:9.2px;
	}
	section#carrusel>div>span {
		height:10.7px;
		width:10.7px;
	}
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}
    
}
@media screen and (min-width: 1650px) {
	main#principal {
		margin:114px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:9.3px;
	}
	section#carrusel>div>span {
		height:10.8px;
		width:10.8px;
	}
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}
    
}
@media screen and (min-width: 1700px) {
	main#principal {
		margin:120px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:9.4px;
	}
	section#carrusel>div>span {
		height:10.9px;
		width:10.9px;
	}
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}
    
}
@media screen and (min-width: 1750px) {
	main#principal {
		margin:126px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:9.5px;
	}
	section#carrusel>div>span {
		height:11px;
		width:11px;
	}
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}
    
}
@media screen and (min-width: 1800px) {
	main#principal {
		margin:132px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:9.6px;
	}
	section#carrusel>div>span {
		height:11.1px;
		width:11.1px;
	}
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}
    
}
@media screen and (min-width: 1850px) {
	main#principal {
		margin:138px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:9.7px;
	}
	section#carrusel>div>span {
		height:11.2px;
		width:11.2px;
	}
	section#marca-tu-estilo {
		padding:142.6px 229.3px;
	}
    
}
@media screen and (min-width:1920px) {
	main#principal {
		margin:149px 0px 0px 0px;
	}
	section#carrusel>div {
		gap:9.8px;
	}
	section#carrusel>div>span {
		height:11.3px;
		width:11.3px;
	}
	section#marca-tu-estilo {
		padding:214px 344px;
	}
	section#marca-tu-estilo>header {
		margin:0 0 150px 0;
	}
	section#marca-tu-estilo>header>h1>span {
		font-size:86pt;
	}
	section#marca-tu-estilo>header>h1>span>span#un {
		font-size:16pt;
		margin:25px 0 0 25px;
	}
	section#marca-tu-estilo>header>h1>span#estilo {
		font-size:26pt;
		margin:0 0 0 145px;
	}
	section#marca-tu-estilo>section {
		gap:2.9%
	}
	section#marca-tu-estilo>section>article#art-iz>p {
		font-size:36pt;
	}
	section#marca-tu-estilo>section>article>p {
		font-size:25pt;
	}
	section#formulario {
		padding:150px 225.5px;
	}
	section#formulario>form>section {
		display:flex;
		flex-flow:row;
		flex-wrap:wrap;
		margin:0px 0px 54px 0px;
		gap:52.5px;
	}
	section#formulario>form>section>article {
		flex:1;
		display:flex;
		flex-flow:column;
		flex-wrap:wrap;
	}
	section#formulario form article button {
		height:40px;
		width:140px;
		font-size:16pt;
	}
	section#formulario label,
	section#formulario input,
	section#formulario textarea,
	p#caja {
		font-size:26pt;
	}
	section#formulario>form>article#articuloTexto {
		display:flex;
		flex-flow:column;
		flex-wrap:wrap;
	}
	section#formulario>form>article>textarea {
		width:100%;
	}
}