main#principal {
    max-width:100%;
    width:100%;
    margin:0px;
    justify-content:center;
}
main#principal>section>header>h1 {
    font-size:16pt;
    font-family:"Hurme Semi Ondulado";
    text-align:center;
    margin:0px 0px 14.5px 0px;
}
main#principal>section>section#moda-descripcion {
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
    align-items:center;
    width:100%;
}
main#principal>section>section {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
}
main#principal>section>section>p {
    flex:1;
    font-size:6pt;
}
main#principal>section>section>p:last-child {
    display:flex;
    justify-content:flex-end;
}
main#principal>section>p {
    font-size:7.5pt;
}
main#principal>section>p#descripcion {
    margin:0px 0px 14.5px 0px;
}