header#header article.menu section#menuMovil a:nth-child(3) {
    color:rgb(242,177,162);
}
main#principal {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    margin:55.6px;
    column-gap:5.25px;
    justify-content:space-evenly;
}
main#principal>a {
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;/*
    margin:0px 0px 17px 0px;*/
    text-decoration:none;
    color:black;
    width:48%;
}
main#principal>a:last-child {
    margin:0px;
}
main#principal>a>figure {
    width:100%;
}
main#principal>a>figure>img {
    width:100%;
}
main#principal>a>section {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
}
main#principal>a>section>p {
    flex:1;
    margin:0px;
    font-size:4.5pt;
    font-family:"Hurme Light";
}
main#principal>a>section>p:last-child {
    display:flex;
    justify-content:flex-end;
}
main#principal>a>header>h1 {
    margin:0px;
    font-family:"Hurme";
    font-size:10.5pt;
}
main#principal>a>p {
    margin:0px;
    font-size:4pt;
    font-family:"Hurme Light";
}
@media screen and (min-width: 1920px) {
    main#principal {
        margin:493px 214px 344px 214px;
        column-gap:26px;
    }
    main#principal>a {
        width:33%;
        margin:0px;
        /*
        margin:0px 0px 85px 0px;*/
    }
}