header#header article.menu section#menuMovil a:nth-child(4) {
    color:rgb(242,177,162);
}
header#header article.menu section#menuMovil a:nth-child(2) {
    color:white;
}
main#principal {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    background-color:rgb(44,44,44);
    color:white;
}
main#principal>section {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    width:100%;
}
main#principal>section>article {
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
    flex:1;
    margin:0 0 17px 0;
    min-width:48%;
}
main#principal>section>article>section>section {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
}
main#principal>section>article>section>section>p {
    font-size:4.5pt;
    flex:1;
}
main#principal>section>article>section>h1 {
    font-size:10pt;
}
main#principal>section>article>section>p {
    font-size:3.6pt;
}