footer {
    width:100%;
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
    padding:32.5px 0px 0px 0px;
}
footer>header {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    padding:0px 0px 32.5px 0px;
}
footer>header>article {
    flex:1;
}
footer>header>article:last-child {
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
footer>header>article>a {
    display:flex;
    width:fit-content;
}
footer>header>article>a>picture>img {
    height:35px;
}
footer>header>article>p {
    margin:0px;
    font-size:10pt;
    font-family:"Hurme Ondulado";
    color:rgb(242,177,162);
}
footer>main {
    padding:0px 0px 32.5px 0px;
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin:-1px 0px 0px 0px;
}
footer>main>section {
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
}
footer>main>section>a {
    text-decoration:none;
    color:rgb(87,87,86);
    font-size:6pt;
    font-family:"Hurme Semi Ondulado";
}
footer>main>section>a:first-child {
    margin:0px 0px 16.25px 0px;
}
footer>main>section:nth-child(2)>a {
    margin:0px 0px 8.125px 0px;
}
footer>main>section>article>a {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    align-items:center;
    width:fit-content;
    text-decoration:none;
    color:rgb(87,87,86);
    font-size:5pt;
    font-family:"Hurme Geométrico";
}
footer>main>section>article>a>picture {
    display:flex;
}
footer>main>section>article>a>picture>img {
    margin:0px 5px 0px 0px;
}
footer>main>section article a picture img {
    height:12px;
    width:12px;
}
footer>main>section:last-child>section {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-between;
}
footer>header,
footer>main {
    padding-right:32.5px;
    padding-left:32.5px;
}
footer>footer {
    padding:0px;
    height:20px;
    background-color:rgb(0, 0, 0);
    margin:-1px 0px 0px 0px;
}
footer>footer {
    display:flex;
    align-items:center;
    justify-content:center;
}
footer>footer>p {
    margin:0px;
    color:rgb(223,222,222);
    font-family:"Hurme Luz";
    font-size:5pt;
}
@media screen and (min-width:1280px) {
    footer {
        padding:58.6px 0px 0px 0px;
    }
    footer>header {
        padding:0px 83.6px 45.3px;
    }
    footer>header>article>a>picture>img {
        height:106.6px;
        width:auto;
    }
    footer>header>article>p {
        font-size:22pt;
    }
    footer>main {
        padding:0px 83.6px 69.3px;
        justify-content:space-evenly;
    }
    footer>main>section {
        justify-content:space-between;
    }
    footer>main>section:nth-child(2)>a {
        margin:0px 0px 24px 0px;
    }
    footer>main>section>a {
        font-size:10pt;
    }
    footer>main>section>article:nth-child(2) {
        margin:0px 0px 24px 0px;
    }
    footer>main>section article a {
        font-size:12pt;
    }
    footer>main>section article a picture img {
        height:25px;
        width:25px;
    }
    footer>main>section>a:first-child {
        margin:0px 0px 35.6px 0px;
    }
    footer>main>section:last-child>section {
        justify-content:space-between;
    }
    footer>footer {
        height:53.3px;
        justify-content:center;
    }
    footer>footer>p {
        font-size:11pt;
    }
}
@media screen and (min-width:1920px) {
    footer {
        padding:88px 0px 0px 0px;
    }
    footer>header {
        padding:0px 125.5px 68px;
    }
    footer>header>article>a>picture>img {
        height:auto;
        width:auto;
    }
    footer>header>article>p {
        font-size:36pt;
    }
    footer>main {
        padding:0px 125.5px 104px;
        /*justify-content:space-around;*/
    }
    footer>main>section {
        justify-content:space-between;
    }
    footer>main>section:nth-child(2)>a {
        margin:0px 0px 36px 0px;
    }
    footer>main>section>a {
        font-size:26pt;
    }
    footer>main>section>article:nth-child(2) {
        margin:0px 0px 36px 0px;
    }
    footer>main>section article a {
        font-size:16pt;
    }
    footer>main>section article a picture img {
        height:auto;
        width:auto;
    }
    footer>main>section>a:first-child {
        margin:0px 0px 53.5px 0px;
    }
    footer>main>section:last-child>section {
        justify-content:space-between;
    }
    footer>footer {
        height:80px;
        justify-content:center;
    }
    footer>footer>p {
        font-size:16pt;
    }
}