footer {
    width:100%;
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
    padding:32.5px 0px 0px 0px;
}
footer>header {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    padding:0px 0px 32.5px 0px;
}
footer>header>article {
    flex:1;
}
footer>header>article:last-child {
    display:flex;
    align-items:center;
    justify-content:flex-end;
}
footer>header>article>a {
    display:flex;
    width:fit-content;
}
footer>header>article>a>picture>img {
    height:35px;
    width:auto;
}
footer>header>article>p {
    margin:0px;
    font-size:10pt;
    font-family:"Hurme Ondulado";
    color:rgb(242,177,162);
}
footer>main {
    padding:0px 0px 32.5px 0px;
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-evenly;
    margin:-1px 0px 0px 0px;
}
footer>main>section {
    display:flex;
    flex-flow:column;
    flex-wrap:wrap;
}
footer>main>section>a {
    text-decoration:none;
    color:rgb(87,87,86);
    font-size:5.5pt;
    font-family:"Hurme Semi Ondulado";
}
footer>main>section>a:first-child {
    margin:0px 0px 16.25px 0px;
}
footer>main>section:nth-child(2)>a {
    margin:0px 0px 8.125px 0px;
}
footer>main>section>article>a {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    align-items:center;
    width:fit-content;
    text-decoration:none;
    color:rgb(87,87,86);
    font-size:5pt;
    font-family:"Hurme Geométrico";
}
footer>main>section>article>a>picture {
    display:flex;
}
footer>main>section>article>a>picture>img {
    margin:0px 5px 0px 0px;
}
footer>main>section article a picture img {
    height:12px;
    width:12px;
}
footer>main>section:last-child>section {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-between;
}
footer>header,
footer>main {
    padding-right:32.5px;
    padding-left:32.5px;
}
footer>footer {
    padding:0px;
    height:20px;
    background-color:rgb(0, 0, 0);
    margin:-1px 0px 0px 0px;
}
footer>footer {
    display:flex;
    align-items:center;
    justify-content:center;
}
footer>footer>p {
    margin:0px;
    color:rgb(223,222,222);
    font-family:"Hurme Luz";
    font-size:5pt;
}
@media screen and (min-width: 380px) {
    footer>header>article>a>picture>img {
        height:37px;
    }
    footer>header>article>p {
        font-size:10.3pt;
    }
    footer>main>section>a {
        font-size:5.8pt;
    }
    footer>main>section>article>a {
        font-size:5.2pt;
    }
    
}
@media screen and (min-width: 400px) {
    footer>header>article>a>picture>img {
        height:39px;
    }
    footer>header>article>p {
        font-size:10.6pt;
    }
    footer>main>section>a {
        font-size:6.1pt;
    }
    footer>main>section>article>a {
        font-size:5.4pt;
    }
    
}
@media screen and (min-width: 420px) {
    footer>header>article>a>picture>img {
        height:41px;
    }
    footer>header>article>p {
        font-size:10.9pt;
    }
    footer>main>section>a {
        font-size:6.4pt;
    }
    footer>main>section>article>a {
        font-size:5.6pt;
    }
    
}
@media screen and (min-width: 440px) {
    footer>header>article>a>picture>img {
        height:43px;
    }
    footer>header>article>p {
        font-size:11.2pt;
    }
    footer>main>section>a {
        font-size:6.7pt;
    }
    footer>main>section>article>a {
        font-size:5.8pt;
    }
    
}
@media screen and (min-width: 460px) {
    footer>header>article>a>picture>img {
        height:45px;
    }
    footer>header>article>p {
        font-size:11.5pt;
    }
    footer>main>section>a {
        font-size:7pt;
    }
    footer>main>section>article>a {
        font-size:6pt;
    }
    
}
@media screen and (min-width: 480px) {
    footer>header>article>a>picture>img {
        height:47px;
    }
    footer>header>article>p {
        font-size:11.8pt;
    }
    footer>main>section>a {
        font-size:7.3pt;
    }
    footer>main>section>article>a {
        font-size:6.2pt;
    }
    
}
@media screen and (min-width: 500px) {
    footer>header>article>a>picture>img {
        height:49px;
    }
    footer>header>article>p {
        font-size:12.1pt;
    }
    footer>main>section>a {
        font-size:7.6pt;
    }
    footer>main>section>article>a {
        font-size:6.4pt;
    }
    
}
@media screen and (min-width: 520px) {
    footer>header>article>a>picture>img {
        height:51px;
    }
    footer>header>article>p {
        font-size:12.4pt;
    }
    footer>main>section>a {
        font-size:7.9pt;
    }
    footer>main>section>article>a {
        font-size:6.6pt;
    }
    
}
@media screen and (min-width: 540px) {
    footer>header>article>a>picture>img {
        height:53px;
    }
    footer>header>article>p {
        font-size:12.7pt;
    }
    footer>main>section>a {
        font-size:8.2pt;
    }
    footer>main>section>article>a {
        font-size:6.8pt;
    }
    
}
@media screen and (min-width: 560px) {
    footer>header>article>a>picture>img {
        height:55px;
    }
    footer>header>article>p {
        font-size:13pt;
    }
    footer>main>section>a {
        font-size:8.5pt;
    }
    footer>main>section>article>a {
        font-size:7pt;
    }
    
}
@media screen and (min-width: 580px) {
    footer>header>article>a>picture>img {
        height:57px;
    }
    footer>header>article>p {
        font-size:13.3pt;
    }
    footer>main>section>a {
        font-size:8.8pt;
    }
    footer>main>section>article>a {
        font-size:7.2pt;
    }
    
}
@media screen and (min-width: 600px) {
    footer>header>article>a>picture>img {
        height:59px;
    }
    footer>header>article>p {
        font-size:13.6pt;
    }
    footer>main>section>a {
        font-size:9.1pt;
    }
    footer>main>section>article>a {
        font-size:7.4pt;
    }
    
}
@media screen and (min-width: 620px) {
    footer>header>article>a>picture>img {
        height:61px;
    }
    footer>header>article>p {
        font-size:13.9pt;
    }
    footer>main>section>a {
        font-size:9.4pt;
    }
    footer>main>section>article>a {
        font-size:7.6pt;
    }
    
}
@media screen and (min-width: 640px) {
    footer>header>article>a>picture>img {
        height:63px;
    }
    footer>header>article>p {
        font-size:14.2pt;
    }
    footer>main>section>a {
        font-size:9.7pt;
    }
    footer>main>section>article>a {
        font-size:7.8pt;
    }
    
}
@media screen and (min-width: 660px) {
    footer>header>article>a>picture>img {
        height:65px;
    }
    footer>header>article>p {
        font-size:14.5pt;
    }
    footer>main>section>a {
        font-size:10pt;
    }
    footer>main>section>article>a {
        font-size:8pt;
    }
    
}
@media screen and (min-width: 680px) {
    footer>header>article>a>picture>img {
        height:67px;
    }
    footer>header>article>p {
        font-size:14.8pt;
    }
    footer>main>section>a {
        font-size:10.3pt;
    }
    footer>main>section>article>a {
        font-size:8.2pt;
    }
    
}
@media screen and (min-width: 700px) {
    footer>header>article>a>picture>img {
        height:69px;
    }
    footer>header>article>p {
        font-size:15.1pt;
    }
    footer>main>section>a {
        font-size:10.6pt;
    }
    footer>main>section>article>a {
        font-size:8.4pt;
    }
    
}
@media screen and (min-width: 720px) {
    footer>header>article>a>picture>img {
        height:71px;
    }
    footer>header>article>p {
        font-size:15.4pt;
    }
    footer>main>section>a {
        font-size:10.9pt;
    }
    footer>main>section>article>a {
        font-size:8.6pt;
    }
    
}
@media screen and (min-width: 740px) {
    footer>header>article>a>picture>img {
        height:73px;
    }
    footer>header>article>p {
        font-size:15.7pt;
    }
    footer>main>section>a {
        font-size:11.2pt;
    }
    footer>main>section>article>a {
        font-size:8.8pt;
    }
    
}
@media screen and (min-width: 760px) {
    footer>header>article>a>picture>img {
        height:75px;
    }
    footer>header>article>p {
        font-size:16pt;
    }
    footer>main>section>a {
        font-size:11.5pt;
    }
    footer>main>section>article>a {
        font-size:9pt;
    }
    
}
@media screen and (min-width: 780px) {
    footer>header>article>a>picture>img {
        height:77px;
    }
    footer>header>article>p {
        font-size:16.3pt;
    }
    footer>main>section>a {
        font-size:11.8pt;
    }
    footer>main>section>article>a {
        font-size:9.2pt;
    }
    
}
@media screen and (min-width: 800px) {
    footer>header>article>a>picture>img {
        height:79px;
    }
    footer>header>article>p {
        font-size:16.6pt;
    }
    footer>main>section>a {
        font-size:12.1pt;
    }
    footer>main>section>article>a {
        font-size:9.4pt;
    }
    
}
@media screen and (min-width: 820px) {
    footer>header>article>a>picture>img {
        height:81px;
    }
    footer>header>article>p {
        font-size:16.9pt;
    }
    footer>main>section>a {
        font-size:12.4pt;
    }
    footer>main>section>article>a {
        font-size:9.6pt;
    }
    
}
@media screen and (min-width: 840px) {
    footer>header>article>a>picture>img {
        height:83px;
    }
    footer>header>article>p {
        font-size:17.2pt;
    }
    footer>main>section>a {
        font-size:12.7pt;
    }
    footer>main>section>article>a {
        font-size:9.8pt;
    }
    
}
@media screen and (min-width: 860px) {
    footer>header>article>a>picture>img {
        height:85px;
    }
    footer>header>article>p {
        font-size:17.5pt;
    }
    footer>main>section>a {
        font-size:13pt;
    }
    footer>main>section>article>a {
        font-size:10pt;
    }
    
}
@media screen and (min-width: 880px) {
    footer>header>article>a>picture>img {
        height:87px;
    }
    footer>header>article>p {
        font-size:17.8pt;
    }
    footer>main>section>a {
        font-size:13.3pt;
    }
    footer>main>section>article>a {
        font-size:10.2pt;
    }
    
}
@media screen and (min-width: 900px) {
    footer>header>article>a>picture>img {
        height:89px;
    }
    footer>header>article>p {
        font-size:18.1pt;
    }
    footer>main>section>a {
        font-size:13.6pt;
    }
    footer>main>section>article>a {
        font-size:10.4pt;
    }
    
}
@media screen and (min-width: 996px) {
    footer>header>article>a>picture>img {
        height:91px;
    }
    footer>header>article>p {
        font-size:18.4pt;
    }
    footer>main>section>a {
        font-size:13.9pt;
    }
    footer>main>section>article>a {
        font-size:10.6pt;
    }
    
}
@media screen and (min-width: 1000px) {
    footer>header>article>a>picture>img {
        height:93px;
    }
    footer>header>article>p {
        font-size:18.7pt;
    }
    footer>main>section>a {
        font-size:14.2pt;
    }
    footer>main>section>article>a {
        font-size:10.8pt;
    }
    
}
@media screen and (min-width: 1050px) {
    footer>header>article>a>picture>img {
        height:95px;
    }
    footer>header>article>p {
        font-size:19pt;
    }
    footer>main>section>a {
        font-size:14.5pt;
    }
    footer>main>section>article>a {
        font-size:11pt;
    }
    
}
@media screen and (min-width: 1100px) {
    footer>header>article>a>picture>img {
        height:97px;
    }
    footer>header>article>p {
        font-size:19.3pt;
    }
    footer>main>section>a {
        font-size:14.8pt;
    }
    footer>main>section>article>a {
        font-size:11.2pt;
    }
    
}
@media screen and (min-width: 1150px) {
    footer>header>article>a>picture>img {
        height:99px;
    }
    footer>header>article>p {
        font-size:19.6pt;
    }
    footer>main>section>a {
        font-size:15.1pt;
    }
    footer>main>section>article>a {
        font-size:11.4pt;
    }
    
}
@media screen and (min-width: 1200px) {
    footer>header>article>a>picture>img {
        height:101px;
    }
    footer>header>article>p {
        font-size:19.9pt;
    }
    footer>main>section>a {
        font-size:15.4pt;
    }
    footer>main>section>article>a {
        font-size:11.6pt;
    }
    
}
@media screen and (min-width: 1250px) {
    footer>header>article>a>picture>img {
        height:103px;
    }
    footer>header>article>p {
        font-size:20.2pt;
    }
    footer>main>section>a {
        font-size:15.7pt;
    }
    footer>main>section>article>a {
        font-size:11.8pt;
    }
    
}
@media screen and (min-width:1280px) {
    footer {
        padding:58.6px 0px 0px 0px;
    }
    footer>header {
        padding:0px 83.6px 45.3px;
    }
    footer>header>article>a>picture>img {
        height:106.6px;
    }
    footer>header>article>p {
        font-size:22pt;
    }
    footer>main {
        padding:0px 83.6px 69.3px;
        justify-content:space-evenly;
    }
    footer>main>section {
        justify-content:space-between;
    }
    footer>main>section:nth-child(2)>a {
        margin:0px 0px 24px 0px;
    }
    footer>main>section>a {
        font-size:16pt;
    }
    footer>main>section>article:nth-child(2) {
        margin:0px 0px 24px 0px;
    }
    footer>main>section>article>a {
        font-size:12pt;
    }
    footer>main>section article a picture img {
        height:25px;
        width:25px;
    }
    footer>main>section>a:first-child {
        margin:0px 0px 35.6px 0px;
    }
    footer>main>section:last-child>section {
        justify-content:space-between;
    }
    footer>footer {
        height:53.3px;
        justify-content:center;
    }
    footer>footer>p {
        font-size:11pt;
    }
}
@media screen and (min-width: 1300px) {
    footer>header>article>a>picture>img {
        height:110px;
    }
    footer>header>article>p {
        font-size:23pt;
    }
    footer>main>section>a {
        font-size:16.8pt;
    }
    footer>main>section>article>a {
        font-size:12.3pt;
    }
    
}
@media screen and (min-width: 1350px) {
    footer>header>article>a>picture>img {
        height:114px;
    }
    footer>header>article>p {
        font-size:24pt;
    }
    footer>main>section>a {
        font-size:17.6pt;
    }
    footer>main>section>article>a {
        font-size:12.6pt;
    }
    
}
@media screen and (min-width: 1400px) {
    footer>header>article>a>picture>img {
        height:118px;
    }
    footer>header>article>p {
        font-size:25pt;
    }
    footer>main>section>a {
        font-size:18.4pt;
    }
    footer>main>section>article>a {
        font-size:12.9pt;
    }
    
}
@media screen and (min-width: 1450px) {
    footer>header>article>a>picture>img {
        height:122px;
    }
    footer>header>article>p {
        font-size:26pt;
    }
    footer>main>section>a {
        font-size:19.2pt;
    }
    footer>main>section>article>a {
        font-size:13.2pt;
    }
    
}
@media screen and (min-width: 1500px) {
    footer>header>article>a>picture>img {
        height:126px;
    }
    footer>header>article>p {
        font-size:27pt;
    }
    footer>main>section>a {
        font-size:20pt;
    }
    footer>main>section>article>a {
        font-size:13.5pt;
    }
    
}
@media screen and (min-width: 1550px) {
    footer>header>article>a>picture>img {
        height:130px;
    }
    footer>header>article>p {
        font-size:28pt;
    }
    footer>main>section>a {
        font-size:20.8pt;
    }
    footer>main>section>article>a {
        font-size:13.8pt;
    }
    
}
@media screen and (min-width: 1600px) {
    footer>header>article>a>picture>img {
        height:134px;
    }
    footer>header>article>p {
        font-size:29pt;
    }
    footer>main>section>a {
        font-size:21.6pt;
    }
    footer>main>section>article>a {
        font-size:14.1pt;
    }
    
}
@media screen and (min-width: 1650px) {
    footer>header>article>a>picture>img {
        height:138px;
    }
    footer>header>article>p {
        font-size:30pt;
    }
    footer>main>section>a {
        font-size:22.4pt;
    }
    footer>main>section>article>a {
        font-size:14.4pt;
    }
    
}
@media screen and (min-width: 1700px) {
    footer>header>article>a>picture>img {
        height:142px;
    }
    footer>header>article>p {
        font-size:31pt;
    }
    footer>main>section>a {
        font-size:23.2pt;
    }
    footer>main>section>article>a {
        font-size:14.7pt;
    }
    
}
@media screen and (min-width: 1750px) {
    footer>header>article>a>picture>img {
        height:146px;
    }
    footer>header>article>p {
        font-size:32pt;
    }
    footer>main>section>a {
        font-size:24pt;
    }
    footer>main>section>article>a {
        font-size:15pt;
    }
    
}
@media screen and (min-width: 1800px) {
    footer>header>article>a>picture>img {
        height:150px;
    }
    footer>header>article>p {
        font-size:33pt;
    }
    footer>main>section>a {
        font-size:24.8pt;
    }
    footer>main>section>article>a {
        font-size:15.3pt;
    }
    
}
@media screen and (min-width: 1850px) {
    footer>header>article>a>picture>img {
        height:154px;
    }
    footer>header>article>p {
        font-size:34pt;
    }
    footer>main>section>a {
        font-size:25.6pt;
    }
    footer>main>section>article>a {
        font-size:15.6pt;
    }
    
}
@media screen and (min-width:1920px) {
    footer {
        padding:88px 0px 0px 0px;
    }
    footer>header {
        padding:0px 125.5px 68px;
    }
    footer>header>article>a>picture>img {
        height:auto;
        width:auto;
    }
    footer>header>article>p {
        font-size:36pt;
    }
    footer>main {
        padding:0px 125.5px 104px;
        /*justify-content:space-around;*/
    }
    footer>main>section {
        justify-content:space-between;
    }
    footer>main>section:nth-child(2)>a {
        margin:0px 0px 36px 0px;
    }
    footer>main>section>a {
        font-size:26pt;
    }
    footer>main>section>article:nth-child(2) {
        margin:0px 0px 36px 0px;
    }
    footer>main>section article a {
        font-size:16pt;
    }
    footer>main>section article a picture img {
        height:auto;
        width:auto;
    }
    footer>main>section>a:first-child {
        margin:0px 0px 53.5px 0px;
    }
    footer>main>section:last-child>section {
        justify-content:space-between;
    }
    footer>footer {
        height:80px;
        justify-content:center;
    }
    footer>footer>p {
        font-size:16pt;
    }
}