header#header article.menu section#menuMovil a:first-child {
    color:rgb(242,177,162);
}
article#ampliar {
    /*height:calc(100% - 30px);*/
    display:flex;
    position:fixed;
    top:30px;
    padding:50px;
    background-color:rgba(44,44,44,0.8);
    max-width:100%;
    width:100%;
    opacity:0;
    z-index:0;
    justify-content:center;
    align-items:center;
    bottom:0px;
}
article#ampliar.opacidad {
    z-index:2;
    opacity:1;
}
article#ampliar.transicion {
    transition:0.5s all;
}
article#ampliar>section {
    display:flex;
    position:absolute;
    max-width:calc(100% - 100px);
    width:100%;
    z-index:3;
}
article#ampliar section#altoMultimediaIzq {
    transform:rotate(-90deg);
    margin:0px 0px 0px -30px;
}
article#ampliar button {
    display:flex;
    border:0px;
    background:none;
    position:absolute;
    width:fit-content;
    padding:10px 20px;
    flex-flow:row;
    justify-content:center;
    height:0px;
    top:50%;
    z-index:6;
}
article#ampliar button#altoMultimediaIzq {
    transform:rotate(-90deg);
}
article#ampliar button#altoMultimediaDer {
    transform:rotate(90deg);
}
article#ampliar  span {
    position:absolute;
    height:20px;
    width:20px;
    border-top:2px solid rgb(223,222,222);
    z-index:3;
    top:0%;
}
article#ampliar button#cerrar {
    top:3%;
    right:-2%;
}
article#ampliar button>span.cerrar-izq {
    transform:rotate(45deg);
    left:-2px;
}
article#ampliar button>span.cerrar-der {
    transform:rotate(-45deg);
}
article#ampliar button>span.pasar {
    top:5px;
    display:flex;
    position:absolute;
    padding:5px 10px;
}
.overlay {
    position:absolute;
    pointer-events:none;
    inset:0;
}/*
#altoMultimediaIzq {
    left:2%;
}
#altoMultimediaDer {
    right:2%;
}*/
article#ampliar button>span.pasar-izq-arr,
article#ampliar button>span.pasar-der-arr {
    transform:rotate(45deg);
}
article#ampliar button>span.pasar-izq-aba,
article#ampliar button>span.pasar-der-aba {
    transform:rotate(-45deg);
}
article#ampliar>picture.ampliar {
    max-height:100%;
    max-width:100%;
    height:100%;
    width:100%;
    justify-content:center;
    position:relative;
}
article#ampliar>picture.ampliar>img {
    height:auto;
    width:auto;
    max-height:100%;
    max-width:100%;
    object-fit:contain;
}
main#principal>section {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-between;
}
main#principal>section>article {
    width:48.9%;
}
main#principal>section>article>picture {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    position:relative;
    align-items:flex-end;
    justify-content:center;
    text-align:center;
}
main#principal>section>article>picture>img {
    width:100%;
}
main#principal>section>article>picture>p {
    display:none;
    font-size:3pt;
    color:rgb(223,222,222);
    padding:5px 0;
    width:100%;
    font-family:"Hurme Luz";
}
main#principal>section>article>picture.resaltar>p {
    display:flex;
    justify-content:center;
    position:absolute;
    width:100%;
    background-color:rgb(60, 60, 60, 0.85);
}
@media screen and (min-width: 590px) {
    main#principal>section>article>picture:hover>p {
        display:flex;
        justify-content:center;
        position:absolute;
        color:rgb(223,222,222);
        background-color:rgb(60, 60, 60, 0.85);
    }
}
@media screen and (min-width: 1920px) {
    article#ampliar {
        height:calc(100% - 149px);
        top:149px;
        padding:100px;
    }
    article#ampliar>section {
        max-width:calc(100% - 200px);
    }/*
    article#ampliar>picture.ampliar {
        margin:0px auto;
        height:auto;
        width:auto;
    }*/
    article#ampliar>section>button {
        padding:25px 45px;
    }
    article#ampliar>section span {
        height:50px;
        width:50px;
        top:-5%;
        border-top:5px solid white;
    }
    article#ampliar>section>span.cerrar-izq {
        right:7.5%;
    }
    article#ampliar>section>span.cerrar-der {
        right:5.7%;
    }
    article#ampliar>section>span.cerrar-izq,
    article#ampliar>section>span.cerrar-der {
        left:auto;
    }
    article#ampliar>section>button#altoMultimediaIzq {
        left:5%;
    }
    article#ampliar>section>button#altoMultimediaDer {
        right:5%;
    }/*
    article#ampliar>section>button>span.pasar {
        top:15px;
    }*/
}