header#header article.menu section#menuMovil a:first-child {
    color:rgb(242,177,162);
}
main#principal {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:55.6px 14.25%;
}
main#principal>article {
    width:48.96%;
    margin:0px 0px 5.21px 0px;
}
main#principal>article>figure {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    position:relative;
    align-items:flex-end;
    justify-content:center;
    text-align:center;
}
main#principal>article#ampliar {
    display:none;
    max-width:100%;
    width:100%;
    position:fixed;
    z-index:1;
}
main#principal>article>figure>img {
    width:100%;
}
main#principal>article>figure>p {
    display:none;
    font-size:3pt;
    margin:2px 1px;
}
main#principal>article>figure.resaltar>p {
    display:flex;
    justify-content:center;
    position:absolute;
}
@media screen and (min-width: 590px) {
    main#principal>article>figure:hover>p {
        display:flex;
        justify-content:center;
        position:absolute;
    }
}