header#header article.menu section#menuMovil a:first-child {
    color:rgb(242,177,162);
}
article#ampliar {
    height:calc(100% - 30px);
    display:flex;
    position:fixed;
    top:30px;
    padding:50px;
    background-color:rgba(44,44,44,0.8);
    max-width:100%;
    width:100%;
    opacity:0;
    z-index:0;
}
article#ampliar.opacidad {
    z-index:2;
    opacity:1;
}
article#ampliar.transicion {
    transition:0.5s all;
}
article#ampliar>section {
    display:flex;
    position:absolute;
    max-width:calc(100% - 100px);
    width:100%;
    z-index:3;
}
article#ampliar>section>section#altoImagenIzq {
    transform:rotate(-90deg);
    margin:0px 0px 0px -30px;
}
article#ampliar>section>button {
    display:flex;
    border:0px;
    background:none;
    position:absolute;
    width:fit-content;
    padding:10px 20px;
    flex-flow:row;
    justify-content:center;
    height:0px;
    top:50%;
    z-index:6;
}
article#ampliar>section>button#altoImagenIzq {
    transform:rotate(-90deg);
    left:-15%;
}
article#ampliar>section>button#altoImagenDer {
    transform:rotate(90deg);
    right:-15%;
}
article#ampliar>section span {
    position:absolute;
    height:20px;
    width:20px;
    border-top:2px solid white;
    z-index:3;
    top:-10%;
}
article#ampliar>section>span.cerrar-izq {
    transform:rotate(45deg);
    left:calc(100% - 6px);
}
article#ampliar>section>span.cerrar-der {
    transform:rotate(-45deg);
    left:calc(100% + 6px);
}
article#ampliar>section>button>span.pasar {
    top:5px;
    display:flex;
    position:absolute;
    padding:5px 10px;
}
article#ampliar>section>button>span.pasar-izq-arr,
article#ampliar>section>button>span.pasar-der-arr {
    transform:rotate(45deg);
}
article#ampliar>section>button>span.pasar-izq-aba,
article#ampliar>section>button>span.pasar-der-aba {
    transform:rotate(-45deg);
}
article#ampliar>figure.ampliar {
    height:max-content;
    max-width:100%;
    width:100%;
}
article#ampliar>figure.ampliar>img {
    max-width:100%;
    width:100%;
}
main#principal {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-between;
    margin:55.6px 14.25%;
}
main#principal>article {
    width:48.96%;
    margin:0px 0px 5.21px 0px;
}
main#principal>article>figure {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    position:relative;
    align-items:flex-end;
    justify-content:center;
    text-align:center;
}
main#principal>article>figure>img {
    width:100%;
}
main#principal>article>figure>p {
    display:none;
    font-size:3pt;
    margin:2px 1px;
}
main#principal>article>figure.resaltar>p {
    display:flex;
    justify-content:center;
    position:absolute;
}
@media screen and (min-width: 590px) {
    main#principal>article>figure:hover>p {
        display:flex;
        justify-content:center;
        position:absolute;
    }
}
@media screen and (min-width: 1920px) {
    main#principal {
        margin:493px 344px 344px 344px;
    }
    main#principal>article {
        margin:0px 0px 26px 0px;
    }
    article#ampliar {
        height:calc(100% - 149px);
        top:149px;
        padding:100px;
    }
    article#ampliar>section {
        max-width:calc(100% - 200px);
    }
    article#ampliar>figure.ampliar {
        margin:0px auto;
        height:auto;
        width:auto;
    }
    article#ampliar>section>button {
        padding:25px 45px;
    }
    article#ampliar>section span {
        height:50px;
        width:50px;
        top:-5%;
        border-top:5px solid white;
    }
    article#ampliar>section>span.cerrar-izq {
        right:7.5%;
    }
    article#ampliar>section>span.cerrar-der {
        right:5.7%;
    }
    article#ampliar>section>span.cerrar-izq,
    article#ampliar>section>span.cerrar-der {
        left:auto;
    }
    article#ampliar>section>button#altoImagenIzq {
        left:5%;
    }
    article#ampliar>section>button#altoImagenDer {
        right:5%;
    }
    article#ampliar>section>button>span.pasar {
        top:15px;
    }
}