@font-face {
    font-family:"Hurme Semi Bold";
    src:url("../../../fuentes/HurmeGeometricSans1-SemiBold.otf");
}
@font-face {
    font-family:"Hurme Bold";
    src:url("../../../fuentes/HurmeGeometricSans1-Bold.otf");
}
@font-face {
    font-family:"Hurme Black";
    src:url("../../../fuentes/HurmeGeometricSans1-Black.otf");
}
@font-face {
    font-family:"Hurme";
    src:url("../../../fuentes/HurmeGeometricSans1.otf");
}
@font-face {
    font-family:"Hurme Light";
    src:url("../../../fuentes/HurmeGeometricSans1 Light.otf");
}
footer {
	display:flex;
	flex-flow:column;
	flex-wrap:wrap;
	background-color:rgb(60,60,60);
	padding:34px 9% 0;
}
figure {
	margin:0;
}
footer>header {
	display:flex;
	flex-flow:row;
	flex-wrap:wrap;
	margin:0 0 34px;
}
footer>section {
	display:flex;
	flex-flow:column;
	flex-wrap:wrap;
}
footer>header>aside#enlace-index {
	display:flex;
	flex:1;
}
footer>header>aside#enlace-index>a>figure {
	display:flex;
}
footer>header>aside#enlace-index>a>figure>img {
	height:auto;
	width:100px;
}
footer>header>aside#Paloma-Gimenez {
	display:flex;
	justify-content:flex-end;
	flex:1;
}
footer>header>aside#Paloma-Gimenez>p {
	font-family:"Hurme Bold";
	font-size:10pt;
	color:rgb(242,177,162);
}
footer>section {
	display:flex;
	flex-flow:row;
	flex-wrap:wrap;
	margin:0 3.3% 34px;
	justify-content:space-around;
}
footer>section>aside {
	display:flex;
	flex-flow:column;
	flex-wrap:wrap;
}
footer>section>aside#contacto {
	margin:0 9%;
}
footer>section>aside#contacto>a {
	display:flex;
	flex-flow:row;
	align-items:center;
	font-family:"Hurme Semi Bold";
	font-size:5.4pt;
	width:fit-content;
}
footer>section>aside>a,
footer>section>aside>p {
	color:rgb(245,222,222);
}
footer>section>aside#contacto>a>figure {
	display:flex;
}
footer>section>aside#contacto>a>figure>img {
	height:12px;
	width:12px;
	margin-right:5px;
}
footer>section>aside>aside {
	display:flex;
	flex-flow:row;
}
footer>section>aside>aside>figure {
	display:flex;
}
footer>section>aside>aside>figure>img {
	height:15px;
	width:15px;
}
footer a {
	text-decoration:none;
	color:white;
}
footer p {
	color:white;
	margin:0;
	display:flex;
	align-items:center;
}
footer p, footer a, footer, 
footer>aside>section>a#contactojsp {
	font-family:"Hurme";
	font-size:5.7pt;
}
footer>aside>section>a#contactojsp {
	width:fit-content;
}
.footer-header {
	margin:0 0 10px;
}
footer#pie {
	height:20px;
	display:flex;
	justify-content:center;
	align-items:center;
	background-color:black;
	color:white;
	padding:0;
}
footer#pie>p {
	font-size:6pt;
}